<%-include ../partials/header%>
<%-include ../partials/menu%>

	<ul class="list-group-item">
	  <li class="list-group-item">
	  	  <h4><%=result_issue.title%></h4>
		  <br>
		  <%=result_issue.detail%>
		  <br>
		  <a class="btn btn-outline-secondary" href="/issue/respond/<%=result_issue.id%>/command" role="button">Command here</a>
		  <a class="btn btn-outline-secondary" href="/issue/respond/<%=result_issue.id%>/voteup" role="button">Up Vote</a>
		  <a class="btn btn-outline-secondary" href="#" role="button">Down Vote</a>
		  <%-include ../issue/modalCommand%>
	  </li>
		  <%result_respond.forEach(respond=>{%>
	  <li>
	  	<%=respond.respond%>
	  </li>
	  	<%})%>
	</ul>

<%-include ../partials/footer%>